<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="dev"> <!-- Configuration.xml의 <environment id="여기와 같아야함"> -->

 <select id="selectDataAll" resultType="dto">
  select * from sangdata
  <!-- select 문은 ArrayList가 아닌 List로 받음 -->
 </select>
</mapper>