<!DOCTYPE html>
<html xmlns:th="http//www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<h3>상품 목록(@MVC : 전통적 방법)</h3>
<table border="1">
	<th:block th:if="${datas.size > 0}">
	<tr>
		<th>사번</th><th>직원명</th><th>성별</th><th>연봉</th>
	</tr>
	<tr th:each="data:${datas}">
		<td th:text="${data.jikwon_no}">코드</td>
		<td>[[${data.jikwon_name}]]</td>
		<td>[[${data.jikwon_gen}]]</td>
		<td th:text="${data.jikwon_pay}">단가</td>
		
	</tr>
		인원수: [[${datas.size}]]
	</th:block>
</table>
</body>
</html>